input[type="submit"] {
  width: 90px;
  height: 30px;
  color: white;
  background: rgba(63, 191, 76, 0.9);
  font-size: 15px;  
  font-family: Slim Joe;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}
  div {
  font-family: PRIMETIME;
  color: rgba(255, 255, 255, 0.54);
  text-align: center;
  }  

  input[type="password"] {
  color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: Century Gothic;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  }
   input[type="text"] {
  color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: Century Gothic;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  }
  
  body {
    background: url("http://i.imgur.com/MAO1diF.png");
    background-size: cover;
  }

* {
  color: white;
  font-family: PRIMETIME;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {  
   text-align: center;  
}
