/* test */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(38, 12, 12, 0.56);
    width: 100%;
    float: left;
    border: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
}
* {
    font-family: sans-serif;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover {
    background-color: #12F182;
    text-weight: bold;    
}
article {
font-family: sans-serif;
font-size: 40px;
padding: 70px 0px 50px 0px;
color: white;
}
input[type="submit"] {
  cursor: pointer;
  width: 90px;
  height: 30px;
  color: white;
  background: rgba(63, 191, 76, 0.9);
  font-size: 15px;  
  font-family: sans-serif;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}
input[type="text"] {
color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: sans-serif;
  border: 0px;
  border-radius: 5px;
  font-style: italic;
}
p {
font-family: sans-serif;
font-size: 20px;
color: white;
}
a.anl {
  display: inline;
  color: white;
  background: rgba(63, 191, 76, 0.9);
  font-size: 8px;  
  font-family: sans-serif;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  height: 20px;
  
}
p.currentshout {
  color: white;
  background: rgba(63, 191, 76, 0.9);
  font-size: 15 px;  
  font-family: helvetica;
  border: 0px;
  border-color: rgba(63, 191, 76, 0.9);
  border-radius: 0px;
  text-align: center;
  width: 100%;
  height: 5%;
  padding: 0px 0px 0px 0px;
}

body {
    background: url("http://i.imgur.com/e75vSfZ.png") no-repeat; // Original: http://i.imgur.com/FfmXuZd.png
    background-size: cover;
}

form {
    color: white;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {  
   text-align: center;  
}
